
/* set body font size, everything relative to this */
body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 1.8em;
    
}
h2 {
    font-size: 1.4em;
    margin: 1.2em 0;
}
h3 {

}

p {
    font-weight: 200;
    font-size: 1.2em;
    line-height: 1.4em;

    margin-bottom: 1.2em;
}

/* the inner sets the width and centers the page */
.inner {
    width: 75%;
    margin: 0 auto;
}


/* HEADER */
header {
    background: #909090;    
}
/* just change the inner class in the header */
/* use flexbox on the parent element */
header .inner {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    height: 5em;
    align-items: center;
}

/* header navigation styling */
header nav ul li {
    display: inline;
    margin-left: 0.2em;
}
header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    background: #000;
    padding: 0.5em 0.8em;
    text-transform: uppercase;
}
header nav ul li a:hover {
    color: #000;
    background: #fff;
}

 /* HERO CONTENT */
 /* we will make this a background image later */
.hero {
    background: #f4f4f4;
    min-height: 200px;
    /* background: url(../images/callam.jpg) no-repeat center; */
    background-size: cover;
}

/* GALLERY  */
/* We use css grid for this content becuase it has columns and rows */
.gallery {
    display: grid;
    /* try using different units here... */
    /* if 4 values = 4 columns */
    grid-template-columns: 1fr 1fr 1fr 1fr;  
    column-gap:.5em;
    row-gap: 1em;
    margin: 2em 0;
}
/* make the boxes look nice */
.gallery div {
    background-color: #a88f8f;
    min-height: 10em;
    display: flex;
    align-items: center;
    justify-content: center; 
}

/* set a background image on one of the boxes */
.gallery .callam {
    background-image: url(../images/callam.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* make the image grayscale */
    filter:grayscale(0.8);
}
/* position the text in the box */
.gallery h3 {
    color: #fff;
    text-align: center;
    /* hide the text */
    display: none;
}
.gallery div:hover {
    /* remove the grayscale flter */
    filter:grayscale(0);
}
.gallery div:hover h3 {
    /* make the text visible again on hovers */
    display: block;
}


footer {
    background: #5d5d5d;
    color: #fff;
}

/* MEDIA QUERIES */

/* max width 48em is = 768 (tablet) */
@media screen and (max-width: 48em) {
    body {
        background-color: green;
        font-size: 20px;
    }
    .gallery h3 {
        display: block;
    }
    /* pverride grid and display 2 columns */
    .gallery {
        grid-template-columns: 1fr 1fr; 
    }

}

/* media query to traget to specific sizes */
@media screen and (min-width: 320px) and (max-width: 375px) {
    body {
        background-color: orange;
        /* make all the font sizes bigger by changing font-size on the body */
        font-size: 20px;
    }
    /* show text which can't be hovered over */
    .gallery h3 {
        display: block;
    }
}